body
{
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
	background-color:#E2EBED;
}

.wrap {
    max-width:970px;
    background-color:white;
    box-shadow: 0 0 4px #808080;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.content_left {
    float:left;
    width:50%;

}

.content_right {
    float:left;
    min-width:50%;

}

p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 200%;
}

p.mini  {
    font-size: 10px;
}


h1, h2, h3, h4, h5 {
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    margin-top:20px;
}

.right {
float: right;
}

div.box.right {
margin: 3px 0 3px 9px;
}

div.box {
    padding: 20px 20px 10px;
    clear: both;
    width: 208px;
    max-height: 230px;
    overflow: hidden;
    background-color: #d3ebf2;
}

/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  width: 100%;
}
/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%; 
}

nav ul li {
  width: 20%;
  float: left;

}
nav ul li a {
  display: block;
  width: 100%; 
}

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0; }

nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  border:1px solid black;
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,
    #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, 
    left top, left bottom, color-stop(0%,#cdeb8e),
    color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #cdeb8e 0%,#b0ca34 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#cdeb8e', 
    endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
  }

nav ul li a:hover {
  background: #b0ca34; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #b0ca34 0%, #96c40d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#b0ca34), 
    color-stop(100%,#96c40d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #b0ca34 0%,#96c40d 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#b0ca34', 
    endColorstr='#96c40d',GradientType=0 ); /* IE6-9 */
  }

.chosen_menu {
  background: #40a35c; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #40a35c 0%, #327e47 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#327e47), 
    color-stop(100%,#51a12a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #40a35c 0%,#327e47 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #40a35c 0%,#327e47 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #40a35c 0%,#327e47 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#40a35c', 
    endColorstr='#327e47',GradientType=0 ); /* IE6-9 */
}

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: none; }


#draggablePreviewImage
{
    position: absolute; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   
    cursor: hand; 
    cursor: pointer;       
}


.resizable
{
    width: 250px;  
    border: 1px solid #bb0000;   
}

.resizable img
{
    width: 100%;   
}

.ui-resizable-handle 
{
    background: #aaa9a3;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    z-index:0 !important;
}
    
.css-title:before 
{
    content: "Sort by";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.css-title :first-child 
{
margin-top: 20px;
}


#draggableMiddleDiv
{ 
	width:100%;
	cursor: row-resize; 
	left: 0; 
	position:absolute;
}

#poolDiv
{
	overflow:hidden;
	background-image: url("Images/redBackground.jpg");
}


#poolDiv div 
{
    float:left;
}

#deckDiv
{
	overflow:hidden;
	background-image: url("Images/greenBackground.jpg");
}

#deckDiv .deckDivHorizontal
{
    clear:left;
}

#dragDropContainer ul
{	/* General rules for all <ul> */
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:2px;
}

#dragDropContainer li,#dragContent li,li#indicateDestination
{	/* Movable items, i.e. <LI> */
	list-style-type:none;

    visibility:hidden;
	background-color:#000000;
	cursor:pointer;
    width:100%;
}

li#indicateDestination
{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
	background-color:#FFF;
}

/* Start main container CSS */

div#mainContainer
{	/* Right column DIV */
    /**float:left;*/
    width:100%;
    height:100%;
    position:relative;

}

.foil 
{
    border: 3px solid silver;
}

.pileDeckDivs 
{
    float:left;
    padding-top:50px;
    width:11%;
    padding:0.5%;
}

.pileDeckSpellsDivs 
{
    float:left;
    width:11%;
    padding:0.5%;
}

#mainContainer div:not(#deckMenuDiv) 
{	/* Parent <div> of small boxes */
    /**float:left;*/
	margin-top:0px;
    margin-right:5px;
}

span.tab 
{
padding: 0 50px; 
}

#mainContainer ul
{	/* Small box in right column ,i.e <ul> */
	width:100%;
	height:100%;
	border:0px;
	margin-bottom:0px;
    text-align:center;
	margin-left: 5px;
    margin-top: 5px;
	padding: 0;

}

#dragContent
{	/* Drag container */
	position:absolute;
	width:150px;
	height:20px;
	display:none;
	margin:0px;
	padding:0px;
	z-index:2000;
}

#dragDropIndicator
{	/* DIV for the small arrow */
	position:absolute;
	width:7px;
	height:10px;
	display:none;
	z-index:1000;
	margin:0px;
	padding:0px;
}

body
{
	background-color:#000;
    overflow:hidden;
}

#dragDropContainer
{
	border:0px;
	width:100%;
}

.toggleButtonImages 
{
    height:30px;
}

.sortPoolButtonImages 
{
    height:30px;
}

.sortDeckButtonImages 
{
    height:30px;
}

.AddButtonImages 
{
    height:30px;
}

.cardDiv 
{
	height:15px;
    position:relative;
}

.foilImages 
{
    width:40%;
    position: absolute;
    top: 5px; 
    left: 95px;
    visibility:visible;
}

.cardImages 
{
    border: 6px solid black;
    width: 100%;
    visibility:visible;
}

.ui-selectable-helper 
{
    position: absolute; 
    z-index: 100; 
    border:1px dotted white;
}

li.ui-selected .cardImages 
{
    border: 6px solid white;
}

.cardDiv
{
    width:100%;
}

.pileDivs
{
    width:11%;
    height:100%;
    padding:0.5%;
}

.poolStack
{
    height:100% !important;
}

