body
{
	font: 16px Arial, Helvetica, sans-serif;
	background-color:#E2EBED;
}

.wrap {
    max-width:970px;
    background-color:white;
    box-shadow: 0 0 4px #808080;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.content_left {
    float:left;
    width:50%;

}

.content_right {
    float:left;
    min-width:50%;

}

p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 200%;
}

p.mini  {
    font-size: 10px;
    line-height:100% !important;
}


h1, h2, h3, h4, h5 {
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    margin-top:20px;
}

.right {
float: right;
}

div.box.right {
margin: 3px 0 3px 9px;
}

div.box {
    padding: 20px 20px 10px;
    clear: both;
    width: 208px;
    max-height: 230px;
    overflow: hidden;
    background-color: #d3ebf2;
}

/*TABLE */
    
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#def2cb; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #40a35c 5%, #51e278 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #40a35c), color-stop(1, #51e278) );
	background:-moz-linear-gradient( center top, #40a35c 5%, #51e278 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#40a35c", endColorstr="#51e278");	background: -o-linear-gradient(top,#40a35c,51e278);

	background-color:#40a35c;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #40a35c 5%, #51e278 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #40a35c), color-stop(1, #51e278) );
	background:-moz-linear-gradient( center top, #40a35c 5%, #51e278 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#40a35c", endColorstr="#51e278");	background: -o-linear-gradient(top,#40a35c,51e278);

	background-color:#40a35c;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
    
    
 /*   TABLE*/

/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  width: 100%;
}
/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%; 
}

nav ul li {
  width: 20%;
  float: left;

}
nav ul li a {
  display: block;
  width: 100%; 
}

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0; 

}

#yourPoolTextArea {
    width:60%; 
    margin-left: auto;
    margin-right: auto;    
    display: block;
    height: 400px; 
    resize:none;
}

.info{
    text-align:center;
}

nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  color:#313116 !important;
  border:1px solid black;
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,
    #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, 
    left top, left bottom, color-stop(0%,#cdeb8e),
    color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #cdeb8e 0%,#b0ca34 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#cdeb8e', 
    endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
  }

nav ul li a:hover {
  color:white !important;
  background: #b0ca34; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #b0ca34 0%, #96c40d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#b0ca34), 
    color-stop(100%,#96c40d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #b0ca34 0%,#96c40d 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#b0ca34', 
    endColorstr='#96c40d',GradientType=0 ); /* IE6-9 */
  }

.chosen_menu {
  color:white !important;
  background: #40a35c; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #40a35c 0%, #327e47 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#327e47), 
    color-stop(100%,#51a12a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #40a35c 0%,#327e47 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #40a35c 0%,#327e47 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #40a35c 0%,#327e47 100%); /* W3C standard, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#40a35c', 
    endColorstr='#327e47',GradientType=0 ); /* IE6-9 */
}

#startButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid black;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:15px !important;
	font-weight:bold !important;
	font-style:normal;
	height:40px;
	line-height:40px;
	text-align:center;
    margin-left: 5px;
	text-shadow:1px 1px 0px #7cacde;
    background-color:#40a35c;

}

#startButton:hover {
    background-color:#b0ca34;
}

.SetButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid black;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size:15px !important;
	font-weight:bold !important;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:165px;
	text-align:right;
    margin-left: 5px;
	text-shadow:1px 1px 0px #7cacde;
}

a {
   color: #004a70;
text-decoration: none;
font-weight: bold;
}

.THSButton {
    background: url("Images/THSBNGSymbol.png") no-repeat left;
	background-color:#cdeb8e;
}

.THSButton:hover {
    background: url("Images/THSBNGSymbol.png") no-repeat left;
	background-color:#b0ca34 !important;
    color:white;
}

.ButtonClicked {
    background-color:#40a35c !important; 
    color:white;
}

.M14Button {
    background: url("Images/M14Symbol.png") no-repeat left;
    background-color:#cdeb8e;
}

.M14Button:hover {
    background: url("Images/M14Symbol.png") no-repeat left;
	background-color:#b0ca34 !important;
    color:white;
}

.RTRButton {
    background: url("Images/RTRGTCDGMSymbol.png") no-repeat left;
    background-color:#cdeb8e;
}

.RTRButton:hover {
    background: url("Images/RTRGTCDGMSymbol.png") no-repeat left;
	background-color:#b0ca34 !important;
    color:white;
}

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: none; }


#draggablePreviewImage
{
    position: absolute; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   
    cursor: hand; 
    cursor: pointer;       
}


.resizable
{
    width: 250px;  
    border: 1px solid #bb0000;   
}

.resizable img
{
    width: 100%;   
}

.ui-resizable-handle 
{
    background: #aaa9a3;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    z-index:0 !important;
}
    
.css-title:before 
{
    content: "Sort by";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.css-title :first-child 
{
margin-top: 20px;
}


#draggableMiddleDiv
{ 
	width:100%;
	cursor: row-resize; 
	left: 0; 
	position:absolute;
}

#poolDiv
{
	overflow:hidden;
	background-image: url("Images/redBackground.jpg");
}


#poolDiv div 
{
    float:left;
}

#deckDiv
{
	overflow:hidden;
	background-image: url("Images/greenBackground.jpg");
}

#deckDiv .deckDivHorizontal
{
    clear:left;
}

#dragDropContainer ul
{	/* General rules for all <ul> */
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:2px;
}

#dragDropContainer li,#dragContent li,li#indicateDestination
{	/* Movable items, i.e. <LI> */
	list-style-type:none;

    visibility:hidden;
	background-color:#000000;
	cursor:pointer;
    width:100%;
}

li#indicateDestination
{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
	background-color:#FFF;
}

/* Start main container CSS */

div#mainContainer
{	/* Right column DIV */
    /**float:left;*/
    width:100%;
    height:100%;
    position:relative;

}

.foil 
{
    border: 3px solid silver;
}

.pileDeckDivs 
{
    float:left;
    padding-top:50px;
    width:11%;
    padding:0.5%;
}

.pileDeckSpellsDivs 
{
    float:left;
    width:11%;
    padding:0.5%;
}

#mainContainer div:not(#deckMenuDiv) 
{	/* Parent <div> of small boxes */
    /**float:left;*/
	margin-top:0px;
    margin-right:5px;
}

span.tab 
{
padding: 0 50px; 
}

#mainContainer ul
{	/* Small box in right column ,i.e <ul> */
	width:100%;
	height:100%;
	border:0px;
	margin-bottom:0px;
    text-align:center;
	margin-left: 5px;
    margin-top: 5px;
	padding: 0;

}

#dragContent
{	/* Drag container */
	position:absolute;
	width:150px;
	height:20px;
	display:none;
	margin:0px;
	padding:0px;
	z-index:2000;
}

#dragDropIndicator
{	/* DIV for the small arrow */
	position:absolute;
	width:7px;
	height:10px;
	display:none;
	z-index:1000;
	margin:0px;
	padding:0px;
}

body
{
	background-color:#000;
    overflow:hidden;
}

#dragDropContainer
{
	border:0px;
	width:100%;
}

.toggleButtonImages 
{
    height:30px;
}

.sortPoolButtonImages 
{
    height:30px;
}

.sortDeckButtonImages 
{
    height:30px;
}

.AddButtonImages 
{
    height:30px;
}

.cardDiv 
{
	height:15px;
    position:relative;
}

.foilImages 
{
    width:40%;
    position: absolute;
    top: 5px; 
    left: 95px;
    visibility:visible;
}

.cardImages 
{
    border: 6px solid black;
    width: 100%;
    visibility:visible;
}

.ui-selectable-helper 
{
    position: absolute; 
    z-index: 100; 
    border:1px dotted white;
}

li.ui-selected .cardImages 
{
    border: 6px solid white;
}

.cardDiv
{
    width:100%;
}

.pileDivs
{
    width:11%;
    height:100%;
    padding:0.5%;
}

.poolStack
{
    height:100% !important;
}

