body{
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
	background-color:#E2EBED;
}



#draggablePreviewImage
{
    position: absolute; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   
    cursor: hand; 
    cursor: pointer;       
}


.resizable
{
    width: 250px;  
    border: 1px solid #bb0000;   
}
.resizable img
{
    width: 100%;   
}

.ui-resizable-handle 
{
    background: #f5dc58;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    
    z-index: 2;
}
    
.css-title:before {
    content: "Sort by";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.css-title :first-child {
margin-top: 20px;
}


/* demo trigger boxes */
.box {
    color: #EEE;
    background: #666;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}
.box:hover {
    background: #777;
}
.box > * {
    display:block;
}
.menu-injected { background-color: #C87958; }
.box.context-menu-disabled { background-color: red; }

#draggableMiddleDiv
{ 
	width:100%;
	height: 10px; 
	cursor: row-resize; 
	left: 0; 
	border:1px solid grey;
	position:absolute;
    margin-bottom:50px;	
}

#poolDiv
{
	overflow:auto;
	background-image: url("/Images/redBackground.jpg");
}



#poolDiv div 
{
    float:left;
}



#deckDiv
{
	overflow:auto;
	background-image: url("/Images/greenBackground.jpg");
}

#deckDiv div 
{
    float:left;
}

#dragDropContainer ul{	/* General rules for all <ul> */
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:2px;
}

#dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
	list-style-type:none;
	height:25px;
    visibility:hidden;
	background-color:#000000;
	cursor:pointer;
    width:186px;
}

li#indicateDestination{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
	background-color:#FFF;
}

/* Start main container CSS */

div#mainContainer{	/* Right column DIV */
    /**float:left;*/
    width:100%;
    height:100%;
    position:relative;

}

.foil {
    border: 3px solid silver;
}

#mainContainer div{	/* Parent <div> of small boxes */
    /**float:left;*/
	margin-right:10px;
	margin-bottom:10px;
	margin-top:0px;
	border-left:2px solid #000000;

}

span.tab {
padding: 0 50px; 
}

#mainContainer ul{	/* Small box in right column ,i.e <ul> */
	width:185px;
	height:80px;
	border:0px;
	margin-bottom:0px;
    text-align:center;
	margin-left: 5px;
    margin-top: 5px;
	padding: 0;

}

#dragContent{	/* Drag container */
	position:absolute;
	width:150px;
	height:20px;
	display:none;
	margin:0px;
	padding:0px;
	z-index:2000;
}

#dragDropIndicator{	/* DIV for the small arrow */
	position:absolute;
	width:7px;
	height:10px;
	display:none;
	z-index:1000;
	margin:0px;
	padding:0px;
}

body{
	background-color:#FFF;
}

#dragDropContainer{
	border:0px;
	width:100%;
}

.toggleButtonImages {
    height:30px;
}

.sortPoolButtonImages {
    height:30px;
}

.sortDeckButtonImages {
    height:30px;
}

.AddButtonImages {
    height:30px;
}

.cardDiv {
	height:15px;
    position:relative;
}

.foilImages {
    position: absolute;
    top: 5px; 
    left: 95px;
    visibility:visible;
}

.cardImages {
    border: 6px solid black;
    width: 175px;
    visibility:visible;
}

.ui-selectable-helper {
    position: absolute; 
    z-index: 100; 
    border:1px dotted white;
}

.cardImages.selected {
    border: 6px solid silver;
}

li.ui-selected .cardImages {
    border: 6px solid white;
}

